<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Mensajes Recibidos</h1>
            <h4> Total de mensajes recibidos: <%=mensajes.length%> </h4>
            <%- include("flash") %>
        </div>

        <div class="contenido">
            <% if (mensajes.length != 0 ){ %>
                <% for(let i = 0 ; i < mensajes.length ; ++i) { %>
                <div class="filaContenido">
                    <img class= "" src="/usuarios/CargarImagenDePerfil/<%=mensajes[i].id_from%>">
                   
                    <div class ="datosMensaje">
                        <label> De: <%=mensajes[i].nombreEmisor%></label>
                        <label> <span> Fecha: </span><%=mensajes[i].fecha %></label>
                        <label> <span> Hora: </span> <%=mensajes[i].hora %></label>
                    </div>
                    <form class= "formularioMensajes" action="/mensajes/mostrarMensaje/<%=mensajes[i].id%>" method="GET">
                        <input type="submit" class="btn_accept " value="Leer">
                    </form>
                    <form class="formularioMensajes" action="/mensajes/borrarMensaje/<%=mensajes[i].id%>" method="GET">
                        <input type="submit" class="btn_decline" value="Borrar">
                    </form>
                </div>
                <% } %>
            <% }  else{ %>
                <h3> No tiene ningún mensaje :( </h3>
            <%} %>
        </div>
        
    </main>

</body>

</html>